<%- partial('_partial/head') %>
<body>


  <% if(theme.toolbox && theme.toolbox.isShow == true && page.base !== '') { %>
    <span id="toolbox-mobile" class="toolbox-mobile"><%=  theme.toolbox.text %></span>
  <% } %>

  <%- body %>

  <%- partial('_partial/component/modal') %>


  <%- partial('_partial/load-script') %>
</body>
</html>
